@import url( ' https://fonts.googleapis.com/css2?family=Poppins : 500; 60; 70; 800; & display—swap' );

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:#754ef9;
    --whilte-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,0.2);
}

.dark-mode{
    --bg-color:#0b061f;
    --text-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,0.7);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
min-height: 100vh;
display: flex;
flex-direction: column;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
}
.header.sticky{
    background-color: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.header.sticky.navbar::before{
  background-color: var(--main-color);
  opacity: 0.5;  
}
.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a{
    position: relative;
font-size: 1.7rem;
color: var(--whilte-color);
font-weight: 500;
margin-right: 3.5rem;
}
.header.sticky .navbar a{
    color: var(--text-color);
}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 0.2rem;
    background-color:var(--white-color);

}

#darkmode-icon{
    font-size: 2.4rem;
    color: var(--whilte-color);
    cursor: pointer;
}

.header.sticky #darkmode-icon{
    color: var(--text-color);
    opacity: 0.9;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    width: 90%;
}

.home-content h3{
    font-size: 3.2rem;
    font-size: 900;
    line-height: 0.3;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
}

.home-content p{
    font-size: 2.6rem;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin:2.5rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}
.home-content .social-media a:hover{
    background-color: var(--main-color);
    color: var(--whilte-color);
}

.home-content #element{
    font-size: 2.6rem;
}

.button{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--whilte-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: 0.2rem solid transparent;
    transition: 0.5s ease;
    cursor: pointer;

}

.button:hover{
background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container{
    position:absolute;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}
.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .profession-box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4*var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i{
    margin-right: 15px;
}
.home .profession-box .profession:nth-child(2) ,
.home .profession-box .profession:nth-child(4) 
{
    padding-bottom: 20px;
}
.home .profession i{
    font-size: 3rem;
}

.home .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 500;
}

/*.home .profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}*/

.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;

}
 span{
    color: var(--main-color);
 }

 .about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
 }

 .about-img img{
   width: 40vw;
 }

 .heading{
    font-size: 4.5rem;
    text-align: center;
 }

 .about-content h2{
    text-align: left;
    line-height: 1.2;
 }

 .about-content h3{
    font-size: 2rem;
 }

 .about-content p{
    font-size:1.9rem;
    margin:2rem 0 3rem;
    text-align: justify;
 }
.about-content .heading_1{
    font-size: 2rem;
     margin-bottom: 35px; /* Space between items */
}
.about-content .heading-1 {
    color: var(--main-color);
}

.about-content .heading-1 span{
    color: black;
}
 .projects{
    min-height: auto;
    padding-bottom: 7rem;
 }
.projects h2{
    margin-bottom: 5rem;
}
 .projects .projects-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
    align-items: stretch;
    max-height: min-content;
 }

 .projects-container .projects-box{
    flex: 1 1 30rem;
    background:var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
    text-align: center;
    border-top: 0.6rem solid var(--main-color);
    border-bottom: 0.6rem solid var(--main-color);
    transform: 0.5 ease;
    }



 .projects-container .projects-box img{
    position: relative;
    image-resolution: 15;
    width: 300px;
    border-radius: 50px;
 }
 .projects-container .projects-box .button{
align-self: center;
margin-top: auto;
 }
  .projects-container .projects-box:hover{
    box-shadow: 0 0.1rem 2rem var(--shadow-color);
    transform: scale(1.05);
  }



 .projects-box i{
    font-size: 7rem;
    color: var(--main-color);

 }
 .projects-box h3{
    font-size: 2rem;
    transition: 0.3s;
    position: relative;
    bottom: 10px;
 }
.projects-box:hover h3{
    cursor: pointer;
    color: var(--main-color);
}
 .projects-box p{
    font-size: 2rem;
        margin: 1rem 0 3rem;
    text-align: justify;
    overflow-y: auto;
     max-height: 400px;

    
 }
 .resume  p{
    font-size: 2.6rem;
    padding: 20px;
    text-align: justify;
 }

.resume .resume-container{
       display:grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
    align-items: stretch;
     grid-template-columns: repeat(2, 1fr);
}
 .resume-container .resume-box{
     flex: 1 1 30rem;
    background:var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
    text-align: center;
    border-top: 0.6rem solid var(--main-color);
    border-bottom: 0.6rem solid var(--main-color);
    transform: 0.5 ease;
    height: 100%;
 }
 

 .resume-box h3{
    font-size: 2.6rem;
    font-weight: 900;
 
 }

 .resume-box p{
    font-size: 1.6rem;
    text-align: justify;
 }

 .resume-box ul{
    word-wrap: normal;
    text-align: left;
    list-style-position: inside;
    font-size: 1.6rem;
 }

 .education{
    min-height: fit-content;
 }


.education .education-container{
       display:grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
    align-items: stretch;
     grid-template-columns: repeat(2, 1fr);
}
 .education-container .education-box{
      flex: 1 1 30rem;
    background:var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
    text-align: center;
    border-top: 0.6rem solid var(--main-color);
    border-bottom: 0.6rem solid var(--main-color);
    transform: 0.5 ease;
 }
 .education-container .education-box:hover{
      box-shadow: 0 0.1rem 2rem var(--shadow-color);
    transform: scale(1.05);
 }
 .education-box h3 ,h2{
    font-size: 2.6rem;
    font-weight: 900;
 
 }
  .education-box p{
    font-size: 2.6rem;
 }

 .contact{
    min-height: fit-content;
 }

 .contact-container .contact-box .contact-icon{
    color:yellow;
    background-color:var(--main-color);
    border-radius: 50%;
  justify-content: center;
    font-size: 30px;
    padding: 10px;


 }

 .contact-container .contact-box .heading_2{
    margin-top: 10px;

 }
 .contact-container .contact-box h2{
    font-size: medium;
 }
 .contact .contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }

.contact-container .contact-box{
  
    margin-top: 50px;
    margin-left: 100px;
}

.contact .question-box{
   justify-content: center;
    margin-top: 70px;
    display: flex;
    gap: 20px;

 
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background-color: var(--main-color);
    overflow: hidden;
    margin-top: auto;

}

.footer-text p{
    font-size: 1.6rem;
    color: var(--whilte-color);
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--whilte-color);
    border-radius: 0.8rem;
    border: 0.2rem solid var(--main-color);
}
.footer-iconTop a:hover{
    outline-color: var(--whilte-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: #333;
}

/* ----media query for responsivness*/
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }

    .home.profession-container{
        height:85.8rem
    }

    .home .profession-container .profession-box{
        right: -12rem;
        height:85.8rem
    }
    .home .profession-container .overlay{
        right: -9rem;
    }
}
@media (max-width:1024px){
.header{
    padding: 2rem 3%;

}
section{
    padding: 10rem 3% 2rem;

}
.home .profession-container .resume-box{
    right: -22rem;
}

.home .profession-container .overlay{
    right: -15rem;
}
}

@media (max-width:991px){
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--main-color);
    }

    .navbar a.active::before{
        background-color: var(--main-color);
        opacity: 0.7;
    }
    .home .home-content{
        max-width: 50rem;
    
    }

    .home .profession-container .profession-box{
        right: -45rem;
    }

    .home .profession-container .overlay{
        right: -39.5rem;
    }
    .home-img img{
        display: none;
    }

    .project,
    .resume{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }

}

@media (max-width:768px){

#menu-icon{
    display:block;
}
#darkmode-icon{
    position: absolute;
    right: 7rem;
    font-size:2.6rem ;
    color: var(--text-color);
    margin-bottom: 0.1rem;
}

.navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0,0, 0,0.2);
    box-shadow: 0.5rem 1rem rgba(0, 0,0, 0.1);
    display: none;
}

.navbar.active{
        display: block;
}

.navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
}
 .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text-color);
    }
    .navbar a.active{
        color: var(--main-color);
    }
     .navbar a::before{
        display: none;
     }

     .home-content h3{
        font-size: 2.6rem;
     }

     .home-content h1{
        font-size: 5rem;
     }

     .home-content .social-media a{
        margin: 2.5rem 0.75rem 3rem;

     }

     .home.profession-container{
        left: 0%;
        width: 100%;
        height: 100%;
     }

     .home .profession-container.profession-box{
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
     }

     .home .profession-container .profession{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
     }

     .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-120px, -210px);
     }
      .home .profession-box .profession:nth-child(1) i{
        margin-right: 0;
     }
      .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(0, -335px);
     }

      .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-115px, -450px);
     }
      .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-220px, -335px);
     }

     .home .profession-box .circle{
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
     }
     .home .profession-container .overlay{
        position: fixed;
        top: 75rem;
        left: 50%;
        right: 0%;
        transform: rotate(90deg) translate(-50%,50%) scaleY(3);
        border-width: 23.9rem;
     }

     .projects .projects-container{
        grid-template-columns: 1fr;
     }



}
    
@media(max-width:617px){
    .home-content{
       width: 90%;
       margin: auto;
    }

    .home-content h1{
        font-size: 4.8rem;
    }

    .about-content h2{
        font-size: 3.5rem;
    }
.home .profession-container .overlay{
       transform: rotate(90deg) translate(-50%,-50%) scaleY(2);
    }
    .about{
        display: flex;
        flex-direction: column;
        padding: 20px;
        
    }

.contact {
    padding-top: 20px;

}

 .contact .contact-container {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    margin-left: 0;
    
}

.contact .question-box{
    margin-bottom: 50px;
    margin-top: 20px;
}

.education {
padding-top:20px;
 min-height: fit-content;
 }


    .about-img{
        position: relative;
        top:350px;

    }

     .about-content .heading-1 h3{
        font-size: 2rem;
    }

    .resume .resume-container{
        grid-template-columns: 1fr;
    }

    .education .education-container{
        grid-template-columns: 1fr;
    }

    .contact{
        position: relative;
        top: 20px;
    }

    .project .projects-container{
        grid-template-columns: 1fr;

    }

    .footer {
        display: flex;
        flex-direction: column;
        min-height: fit-content;

    }



}

@media(max-width:450px){
html{
    font-size: 50%;
}

#darkmode-icon{
    right:6rem
}

.home{
    padding: 0 3% 30rem;
}
.home.profession-box .profession:nth-child(1){
     
        transform: rotate(-90deg) translate(-110px, -220px);
     }
     .home.profession-box .profession:nth-child(2){
     
        transform: rotate(0deg) translate(-5px, -335px);
     }
     .home.profession-box .profession:nth-child(3){
     
        transform: rotate(90deg) translate(-105px, -440px);
     }
     .home.profession-box .profession:nth-child(4){
     
        transform: rotate(180deg) translate(-210px, -335px);
     }

     .about-img img{
        position:relative;
        bottom: 350px;
     }
}


@media(max-width:365px){
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin: 2rem;
    }
}